.side-bar
  .side-bar__user-name
    .side-bar__user-name__name-box
      .side-bar__user-name__name-box__name-space masa
      .side-bar__user-name__name-box__icon-space
        .side-bar__user-name__name-box__icon-space__btn
          = link_to "#", class: "side-bar__user-name__name-box__icon-space__btn__regular" do
            = icon('far', 'edit')
          = link_to "#", class: "side-bar__user-name__name-box__icon-space__btn__solid" do
            = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__group-box
      .side-bar__group-list__group-box__group-name
        techchamp
      .side-bar__group-list__group-box__group-message
        まだメッセージがありません
    .side-bar__group-list__group-box
      .side-bar__group-list__group-box__group-name
        next
      .side-bar__group-list__group-box__group-message
        まだメッセージがありません
    .side-bar__group-list__group-box
      .side-bar__group-list__group-box__group-name
        expart
      .side-bar__group-list__group-box__group-message
        まだメッセージがありません